/* Don't change unless you're NIK */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

.clickable {
  cursor: pointer;
}

p {
  font-size: 1.2em;
}

@font-face {
  font-family: myFont;
  src: url(../Assets/fonts/Bandeins-Strange-Regular.otf);
}
h1,
h2 {
  font-family: myFont;
  font-weight: bold;
}
h1 {
  font-size: 4em;
}
h3 {
  font-size: 2em;
}
h2 {
  font-size: 3em;
}

/* COLOURS */
.light {
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  --primary-color: rgb(238, 232, 221);
  --primary-text-color: rgb(0, 95, 80);
  --secondary-text-color: rgb(55, 73, 71);
  --nav-color: rgba(244, 241, 235, 0.5);
  --nav-color-active: rgba(250, 246, 245, 0.8);
}
.dark {
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  --primary-color: rgb(25, 59, 50);
  --primary-text-color: rgb(104, 228, 197);
  --secondary-text-color: rgb(195, 232, 221);
  --nav-color: rgba(20, 61, 50, 0.5);
  --nav-color-active: rgba(28, 79, 66, 0.8);
}

.hide {
  display: none;
}

body {
  margin: auto;
  max-width: 1140px;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  background-color: var(--primary-color);
  padding-right: 1em;
  padding-left: 1em;
}
.work,
.certifications,
.about {
  padding-top: 15rem;
}
h1,
h3 {
  color: var(--primary-text-color);
}
p {
  color: var(--secondary-text-color);
}
h2 {
  padding-top: 1em;
  color: var(--secondary-text-color);
}
.link-active {
  background-color: var(--nav-color-active);
}

a {
  font-family: "Prompt", sans-serif;
  text-decoration: none;
  padding-bottom: 2em;
  font-size: 1.2em;
  color: var(--secondary-text-color);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
a:hover {
  color: var(--primary-text-color);
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

.skill-content {
  padding: 1em;
  background-color: var(--primary-text-color);
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}
.skill-content p {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1em;
}

.time-line {
  padding: 1em;
  margin-bottom: 1em;
  background-color: var(--primary-text-color);
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}
.time-line p {
  color: var(--primary-color);
}
.time-line h4 {
  color: var(--primary-color);
  font-weight: bold;
}

/* ---------------------- */

/* NAV */
.navbar {
  width: max-content;
  display: flex;
  position: fixed;
  z-index: 30;
  padding: 0.6em;
  overflow: hidden;
  margin-top: 3em;
  left: 50%;
  border-radius: 3em;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  backdrop-filter: blur(1.5rem);
}
.navbar p {
  font-size: 0.9em;
}

.nav-link {
  padding: 0.3em 1em;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}
.topbar-bg {
  background-color: var(--nav-color);
}
/* Footer */

.footer {
  padding-top: 5em;
}
.footer h3 {
  padding-bottom: 1em;
  font-weight: bold;
  font-size: 2em;
}
.title {
  margin: auto;
  text-align: center;
  padding: 0em 2em;
}
/* About */
img {
  max-width: 100%;
}

.about-info {
  padding: 1em 0em;
  display: grid;
  grid-template-columns: 20em 1fr;
  gap: 1em;
  align-items: center;
}

.skills {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-mayank {
  background-color: rgba(0, 0, 0, 0.1);

  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

/* CERTIFICATES */

/* Projects */
*::before,
*::after {
  box-sizing: border-box;
}

.section-fluid-main {
  position: relative;
  display: block;
  overflow: hidden;
  width: calc(100% - 1em);
  margin-right: auto;
  margin-left: auto;
  padding: 1em 0;
}
.section-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1em;
  margin-left: -1em;
}

.section-col {
  position: relative;
  width: 100%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -ms-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
}

.section {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  padding: 1em;
}

.section-in {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 2em;
  cursor: pointer;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}
.section-in img {
  object-fit: cover;
  display: block;
  width: auto;
  height: auto;
  transition: transform 250ms ease;
  -webkit-transition: transform 250ms ease;
  -moz-transition: transform 250ms ease;
  -ms-transition: transform 250ms ease;
  -o-transition: transform 250ms ease;
}

.section-col:hover .section-in img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.section-col:hover + .hover-text h2 {
  opacity: 1;
  transform: scale(1);
}

.hover-text {
  display: none;
}

/* MEDIA Query for responsiveness */
@media (max-width: 500px) {
  .mode-selector {
    display: none;
  }

  .section-col {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hover-text h2 {
    font-size: 12vw;
  }

  .work,
  .certifications,
  .about {
    padding-top: 8em;
  }
}
.timeline {
  padding: 1em;
  gap: 1em;
}
.work-desc {
  padding: 5em;
}

.about-desc {
  padding: 5em;
}
@media (min-width: 500px) {
  .section-row:hover .section-col {
    opacity: 0.1;
  }
  .section-row .section-col:hover {
    opacity: 1;
  }
  .hover-text {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    pointer-events: none;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    mix-blend-mode: difference;
  }

  .hover-text h2 {
    font-family: myFont, sans-serif;
    font-weight: 800;
    font-size: 8vw;
    line-height: 1;
    color: white;
    opacity: 0;
    transform: scale(0.8);
    transition: transform 250ms ease, opacity 250ms ease;
    -webkit-transition: transform 250ms ease, opacity 250ms ease;
    -moz-transition: transform 250ms ease, opacity 250ms ease;
    -ms-transition: transform 250ms ease, opacity 250ms ease;
    -o-transition: transform 250ms ease, opacity 250ms ease;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}

@media (max-width: 600px) {
  .work-desc {
    padding: 0;
  }

  .about-desc {
    padding: 0;
  }
  .about-info {
    display: flex;
    flex-direction: column;
  }
  .title {
    padding: 0;
    text-align: start;
  }
}

/* MODE SELECTOR */
.mode-selector {
  padding-top: 6em;
}
.power-switch {
  --color-invert: #ffffff;
  --width: 150px;
  --height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  height: var(--height);
  .button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: radial-gradient(
        circle closest-side,
        var(--color-invert),
        transparent
      );
      filter: blur(20px);
      opacity: 0;
      transition: opacity 1s ease, transform 1s ease;
      transform: perspective(1px) translateZ(0);
      backface-visibility: hidden;
      -webkit-transition: opacity 1s ease, transform 1s ease;
      -moz-transition: opacity 1s ease, transform 1s ease;
      -ms-transition: opacity 1s ease, transform 1s ease;
      -o-transition: opacity 1s ease, transform 1s ease;
      -webkit-filter: blur(20px);
      -webkit-transform: perspective(1px) translateZ(0);
      -moz-transform: perspective(1px) translateZ(0);
      -ms-transform: perspective(1px) translateZ(0);
      -o-transform: perspective(1px) translateZ(0);
      -webkit-backface-visibility: hidden;
    }
    .power-on,
    .power-off {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
      fill: none;
      stroke: var(--color-invert);
      stroke-width: 8px;
      stroke-linecap: round;
      stroke-linejoin: round;
      .line {
        opacity: 0.2;
      }
      .circle {
        opacity: 0.2;
        transform: rotate(-58deg);
        transform-origin: center 80px;
        stroke-dasharray: 220;
        stroke-dashoffset: 40;
      }
    }
    .power-on {
      filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));

      -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
      .line {
        opacity: 0;
        transition: opacity 0.3s ease 1s;
      }
      .circle {
        opacity: 1;
        stroke-dashoffset: 220;
        transition: transform 0s ease, stroke-dashoffset 1s ease 0s;
      }
    }
  }
  input {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    &:checked {
      + .button {
        &:after {
          opacity: 0.15;
          transform: scale(2) perspective(1px) translateZ(0);
          backface-visibility: hidden;
          transition: opacity 0.5s ease, transform 0.5s ease;
          -webkit-transform: scale(2) perspective(1px) translateZ(0);
          -moz-transform: scale(2) perspective(1px) translateZ(0);
          -ms-transform: scale(2) perspective(1px) translateZ(0);
          -o-transform: scale(2) perspective(1px) translateZ(0);
          -webkit-transition: opacity 0.5s ease, transform 0.5s ease;
          -moz-transition: opacity 0.5s ease, transform 0.5s ease;
          -ms-transition: opacity 0.5s ease, transform 0.5s ease;
          -o-transition: opacity 0.5s ease, transform 0.5s ease;
        }
        .power-on,
        .power-off {
          animation: click-animation 0.3s ease forwards;
          transform: scale(1);
          -webkit-animation: click-animation 0.3s ease forwards;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          .line {
            animation: line-animation 0.8s ease-in forwards;
          }
          .circle {
            transform: rotate(302deg);
          }
        }
        .power-on {
          .line {
            opacity: 1;
            transition: opacity 0.05s ease-in 0.55s;
            -webkit-transition: opacity 0.05s ease-in 0.55s;
            -moz-transition: opacity 0.05s ease-in 0.55s;
            -ms-transition: opacity 0.05s ease-in 0.55s;
            -o-transition: opacity 0.05s ease-in 0.55s;
          }
          .circle {
            transform: rotate(302deg);
            stroke-dashoffset: 40;
            transition: transform 0.4s ease 0.2s,
              stroke-dashoffset 0.4s ease 0.2s;
            -webkit-transform: rotate(302deg);
            -moz-transform: rotate(302deg);
            -ms-transform: rotate(302deg);
            -o-transform: rotate(302deg);
            -webkit-transition: transform 0.4s ease 0.2s,
              stroke-dashoffset 0.4s ease 0.2s;
            -moz-transition: transform 0.4s ease 0.2s,
              stroke-dashoffset 0.4s ease 0.2s;
            -ms-transition: transform 0.4s ease 0.2s,
              stroke-dashoffset 0.4s ease 0.2s;
            -o-transition: transform 0.4s ease 0.2s,
              stroke-dashoffset 0.4s ease 0.2s;
          }
        }
      }
    }
  }
}

@keyframes line-animation {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  10% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  40% {
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
  }
  60% {
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
  }
  85% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

@keyframes click-animation {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

/* text */
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
    -webkit-filter: blur(12px);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    -webkit-filter: blur(0);
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}



p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}